$colorDeHover: #495057;
  *{
    margin: 0;
    padding: 0;
}
header{
    background-color: #1f2023;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    
}
.ancla{
    height: 100%;
    background-color: azure;
    display: flex;
    justify-content: center;
   
    width: auto;
    border: 1px solid #EBEDF0;
}
.ancla p{
    margin-top: 50%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    font-size: xx-large;
}
a{
    text-decoration: none;
}
.barraDeNav{
    height: 800px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.ancla:hover{
    background-color: $colorDeHover;
    
    
    transition: all 4s;
}
footer{
    border-top: 1px solid #EBEDF0; 
}
.box3{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

@keyframes dibujo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
@mixin dibujo{
    width: 350px;
    height: 400px;
    animation-name: dibujo;
    animation-duration: 3s;
}
.dibujo{
    @include dibujo;}

.ejemploDeComision{
    width: 600px;
    height: 400px;
    border-radius: 1px;  
    border-top: 0.5px solid #EBEDF0; 
}   
.descripcion{
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 40px;
    width: auto;
    background-color: beige;
    border-radius: 5px;
    border: black dotted 0.5px;
    padding: 5px;
}
#ranitatxt{
    grid-area: ranitatxt;
}
#ranitaimg{
    grid-area: ranitaimg;
}
#ittoimg{
    grid-area: ittoimg;
}
#ittotxt{
    grid-area: ittotxt;
}
#chibiimg{
    grid-area: chibiimg;
}
#chibitxt{
    grid-area: chibitxt;
}
#sketchtxt{
    grid-area: sketchtxt;
}
#sketchimg{
    grid-area: sketchimg;
}
#commissions{
    display: grid;
    grid-template-areas: "ittoimg ittotxt"
                         "ranitaimg ranitatxt"
                         "chibiimg chibitxt"
                         "sketchimg sketchtxt";
    grid-template-columns: 600px auto;
    grid-template-rows: 400px 400px;
}
.aboutme{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.cajaDeTexto{
    height: 200px;
    width: 32%;
    gap: 1%;
    display: flex;
    display: inline-table;
    img{
        margin-top: 10%;
    }
}
.subt{
   
    height: 50px;
   
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    font-size: x-large;
}
.about{
    font-size: large;

}
body{
    background: linear-gradient(to right, azure,  #FFF);
}
.box5{
    margin-top: 25%;
    width: 22%;
    display: flex;
    flex-direction: column;
    background-color: beige;
}
@media (min-width: 1650px) {
    .dibujo{
        width: 24.5%;
        height: 400px;
        animation-name: dibujo;
        animation-duration: 3s;
    }
}

